# ignore venv folder
venv/

# ignore mc3 data files
data/

# ignore cache files
__pycache__/
R/.Rproj.user
R/*.RData
R/.RData
R/.Rhistory
R/.RDataTmp
R/.RDataTmp1
R/.RDataTmp2
# R environment files
R/.RData
R/.Rhistory
R/.RDataTmp*
R/*-checkpoint.RData
R/*.rds
R/renv

# RStudio project files (user-specific)
.Rproj.user/

# Plot and Figure outputs (if they are generated during runtime)
R/*.pdf
R/*.Rplot*

# Common OS-specific temporary/metadata files
R/Thumbs.db