# ignore venv folder
.venv/

# archive files
archive/

# ignore mc3 data files
data/

# ignore cache files
__pycache__/

# Plot and Figure outputs (if they are generated during runtime)
*.pdf
.Rproj.user
